# ───── Core Framework ─────
fastapi==0.116.1
uvicorn[standard]==0.29.0         

# ───── Async HTTP 클라이언트 ─────
httpx==0.28.1                    

# ───── AI 에이전트 프레임워크 ─────
langgraph==0.6.5
langchain==0.3.27
crewai==0.165.1 

# ───── LLM & 프롬프트 연동 ─────
google-genai==1.31.0                            
openai==1.99.9                              
anthropic==0.64.0                              

# ───── LangChain 연동 모듈 ─────
langchain-openai==0.3.30
langchain-google-genai==2.1.9
langchain-anthropic==0.3.19

tiktoken==0.7.0

# ───── Tool ─────
langchain-tavily==0.2.11
langchain-community==0.3.27

# ───── 데이터 분석 및 시각화 ─────
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.21.0

# ───── 유틸리티 및 환경 설정 ─────
python-dotenv==1.0.1
pydantic-settings==2.10.1
beautifulsoup4==4.13.4
humps==0.2.2

# ───── 데이터베이스 ─────
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
pymongo==4.14.1
supabase==2.18.1

# ───── Azure Storage ─────
azure-storage-blob==12.19.0